*.bin
.vs/Xpense/v17/DocumentLayout.json
.vs/Xpense/v17/DocumentLayout.backup.json
.vs/Xpense/v17/.suo
.vs/Xpense/v17/.futdcache.v2
.vs/Xpense/FileContentIndex/c1a382a1-32c5-482b-8c65-4e205aed40aa.vsidx
.vs/Xpense/FileContentIndex/1b925533-6387-4059-af8e-af2013610880.vsidx
.vs/Xpense/DesignTimeBuild/.dtbcache.v2
.vs/Xpense/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
.vs/Xpense/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
.vs/Xpense/CopilotIndices/17.14.698.11175/SemanticSymbols.db
.vs/Xpense/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
.vs/Xpense/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
.vs/Xpense/CopilotIndices/17.14.698.11175/CodeChunks.db
.vs/Xpense/copilot-chat/75de5e27/sessions/bcb7fcda-6da5-460c-b19c-1b12fa931d39
.vs/Xpense/config/applicationhost.config
xpense.client/obj/Debug/xpense.client.esproj.FileListAbsolute.txt
/Xpense.Server/bin
/Xpense.Server/obj
*.user
