#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Show it's not fixed to the top */
body {
    min-height: 75rem;
    background-color: #394c60;
}

.page-title {
    color: white;
    font-family: 'Segoe UI'
  
}

.page-description {
    color: white;
    font-family: 'Segoe UI'
}

.card-title,
.card-desc {
    color: white;
    font-family: 'Segoe UI'
}

.card-btn {
    background-color: #ececec;
    color: #8f8e8e;
}
.btn btn-primary border border-3 border-dark {
    color: darkorange;
}

