#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Show it's not fixed to the top */
body {
    min-height: 75rem;
    background-color: darkblue;
}

.page-title {
    color: white;
    font-family: Georgia;
}

.page-description {
    color: white;
    font-family: Georgia;
}

.card-title,
.card-desc {
    color: white;
    font-family: Georgia;
}

.card-btn{
    background-color: lightgray;
}